<div class="row">
    <div class="col-md-6">
        <table>
            <thead>
                <th>Movies</th>
            </thead>
            <tbody>
                <tr *ngFor="let mov of movies" (click)="display(mov.name)">
                    <td>{{mov.name}}</td>
                    <td><img  [src]="mov.imageUrl" class="img-responsive" /></td>
                    <td>{{mov.type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
            <table>
                <thead>
                    <th>Movies</th>
                </thead>
                <tbody>
                    <tr *ngFor="let mov of movies">
                        <td>{{mov.name}}</td>
                        <td><img  [src]="mov.imageUrl" class="img-responsive" /></td>
                        <td>{{mov.type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

</div>