<div class="row" >
    <div class="col-md-6" style="overflow: scroll; height: 600px;">
        <table>
            <thead>
                <th>Movies</th>
            </thead>
            <tbody>
                <tr *ngFor="let mov of movies" (click)="displayMovieDetails(mov.name)">
                   <!--<td>{{mov.name}}</td>--> 
                    <td><img  [src]="mov.imageUrl" class="img-responsive" /></td>
                   <!--<td>{{mov.type}}</td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                    <h1>Movie Details for: {{selectedMovie.name}}</h1>
            </div>
            <div class="panel-body" style="height: 500px;">
                   <h3>Movie Id: {{selectedMovie._id}}</h3>
                   <h3>Movie Name: {{selectedMovie.name}}</h3>
                   <h3>Movie Language: {{selectedMovie.language}}</h3>
                   <h3>Movie Rating: {{selectedMovie.rate}}</h3>
                   <h3>Movie Type: {{selectedMovie.type}}</h3>
            </div>
    </div>

</div>
